.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__icons > span {
  position: relative;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(800deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s ease-in infinite;
}
